<div class="container">
  <div class="row space-top">
    <div class="col-md-12">
      <h1>My Furniture Page</h1>
      <p>Listing your furniture.</p>
    </div>
  </div>
  <div class="row space-top">
    <div *ngFor="let f of furnitures" class="col-md-4">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <blockquote class="card-blockquote">
            <img src="{{f.image}}" alt="furniture-image" />
            <p>{{f.description}}</p>
            <footer>{{f.made}} -
              <cite title="Source Title">{{f.model}}</cite>
            </footer>
            <div class="pull-right">
              <a routerLink="/furniture/details/{{f.id}}" class="btn btn-info">Details</a>
              <a routerLink="/myFurniture" class="btn btn-danger" (click)="delete(f.id)">Delete Item</a>
            </div>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>