<div class="container">
  <h1>Registration Form</h1>
  <div *ngIf="error" class="alert alert-danger">
    {{error}}
  </div>
  <form #formDir="ngForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" formControlName="username" />
      <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
        <div *ngIf="username.errors.required">
          Username is required
        </div>
        <div *ngIf="username.errors.pattern">
          Username must start with a capital letter and must contain only letters and digits
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password" />
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
        <div *ngIf="password.errors.required">
          Password is required
        </div>
        <div *ngIf="password.errors.pattern || password.errors.minlength || password.errors.maxlength">
          Password must contain only letters and digits and must be between 4 and 16 symbols
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" />
      <div *ngIf="registerForm.errors?.mustMatch && (registerForm.touched || registerForm.dirty)" class="alert alert-danger">
        Both passwords must match
      </div>
    </div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" formControlName="firstName" />
      <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
        <div *ngIf="firstName.errors.required">
          First Name is required
        </div>
        <div *ngIf="firstName.errors.pattern">
          First Name must contain only letters and start with a capital letter
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastName" />
      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
        <div *ngIf="lastName.errors.required">
          Last Name is required
        </div>
        <div *ngIf="lastName.errors.pattern">
          Last Name must contain only letters and start with a capital letter
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="text" class="form-control" id="email" formControlName="email" />
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
        <div *ngIf="email.errors.required">
          Email is required
        </div>
        <div *ngIf="email.errors.pattern">
          Please provide a valid email address
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" class="form-control" id="age" formControlName="age" />
    </div>

    <button type="submit" class="btn btn-success" [disabled]="registerForm.invalid">Register</button>
    <button type="button" class="btn btn-default" (click)="formDir.resetForm({})">Reset</button>
  </form>
</div>